:root {
    --white-primary: #ffffff;
    --grey-secundary: #C0C0C0;
    --btn-blue: #167BF7;
    --bg-black: #00030C;
    --ff-primary: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-black);
    color: var(--white-primary);
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: 400;
}

.container {
    height: 80vh;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 42% 58%;
}

.header {
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container__content {
    padding-top: 2rem;
    padding-left: 3rem;
}

.container__title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.container__img {
    margin-bottom: 3rem;
}

.container__btn1{
    background-color: var(--btn-blue);
    color: var(--white-primary);
    text-decoration: none;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    display: block;
    margin-bottom: 1.5rem;
}

.container__btn1:hover {
    background-color: var(--white-primary);
    color: var(--btn-blue);
}

.container__btn2{
    background-color: transparent;
    color: var(--white-primary);
    text-decoration: none;
    padding: 1rem;
    border: 1px solid var(--white-primary);
    border-radius: 0.5rem;
    display: block;
    margin-bottom: 0.5rem;
}

.container__btn2:hover {
    background-color: var(--white-primary);
    color: var(--bg-black);
}

.container__aviso {
    color: var(--grey-secundary);
}

.main__img {
    width: 70%;
    margin-left: 6rem;
}

.main__content {
    text-align: left;
    padding: 0 6rem 0 6rem;
}

.main__title {
    font-size: 2.5rem;
}

.main__text {
    font-size: 1rem;
    color: var(--grey-secundary);
    margin-bottom: 2rem;
}

.main__btn {
    background-color: var(--btn-blue);
    color: var(--white-primary);
    text-decoration: none;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.main__btn:hover {
    background-color: var(--white-primary);
    color: var(--btn-blue);
}

.final__title {
    font-size: 3rem;
    color: var(--white-primary);
    text-align: center;
    margin-bottom: 3rem;
}

.final__content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 8rem;
}

.footer {
    text-align: center;
    padding: 0 12rem;
}

.footer__img {
    margin-bottom: 2rem;
}

.footer__links {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    color: var(--white-primary);
    text-decoration: none;
}

.footer__link:hover {
    color: #167BF7;
}

.footer__text {
    color: var(--grey-secundary);
    padding: 3rem 4rem;
}


